name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    uses: arthur-plazanet/github-actions-kit/.github/workflows/reusable_release_publish.yml@main
    # with:
    # node-version: '20'
    # publish: true
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    permissions:
      contents: write
      pull-requests: write
      id-token: write
